[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/local/bin/vim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[diff]
	colorMoved = dimmed-zebra
[merge]
	conflictstyle = diff3
[alias]
	graph = log --graph --oneline --decorate=full --all
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Kanchi Shimono
	email = dev.kanchi.shimono@gmail.com
[srcmgr]
	root = ~/dev/src
	root = ~/.config/nvim/plugged
	root = ~/.vim/plugged
[ghq]
	root = ~/dev/src
[delta]
	navigate = true
	line-numbers = true
